<header class="header">
  <div class="header__wrapper tw-h-full">
    <div class="logo_container tw-h-full md:tw-w-[252px]" [ngClass]="{'md:tw-shadow-[1px_0px_0px_0px_var(--surface-ground)]': authenticated$ | async}">
      <a routerLink="/">
        <img class="tw-h-12 tw-w-auto tw-sm:h-10" src="/assets/images/logo.png" alt="Logo Brand">
      </a>
    </div>
    <nav class="navigation_wrapper tw-absolute md:tw-relative tw-w-full tw-left-0 md:tw-w-auto tw-items-center tw-top-full md:tw-top-0 tw-h-[calc(100vh_-_56px)] md:tw-h-auto top tw-mt-0 tw-flex tw-flex-col md:tw-flex-row tw-justify-end md:tw-flex" [ngClass]="{'tw-hidden': !isOpen}">
      <a class="navigation__styledLink tw-py-8 md:tw-py-0" *ngIf="!(authenticated$ | async)">
        <button pButton class="p-button-outlined tw-py-2" label="Login with Near" (click)="connect()"></button>
      </a>
      <div class="tw-flex tw-flex-col md:tw-flex-row tw-items-center md:tw-py-0 tw-w-full tw-h-full tw-px-4" *ngIf="account$ | async as account">
        <ul class="tw-mt-12 nav-side md:tw-hidden tw-w-full">
          <li routerLink="/dashboard" routerLinkActive="active shadow-thin" class="tw-flex tw-w-full tw-justify-between tw-cursor-pointer tw-items-center tw-mb-6">
            <div class="tw-flex tw-items-center tw-h-8">
              <span class="pi pi-home"></span>
              <span class="tw-ml-4">Home</span>
            </div>
          </li>
          <li routerLinkActive="active shadow-thin" class="tw-flex tw-w-full tw-justify-between tw-cursor-pointer tw-items-center tw-mb-6">
            <div routerLink="/categories" class="tw-flex tw-items-center tw-w-full tw-h-8">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stack" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <polyline points="12 4 4 8 12 12 20 8 12 4" />
                <polyline points="4 12 12 16 20 12" />
                <polyline points="4 16 12 20 20 16" />
              </svg>
              <span class="tw-ml-4">Category</span>
            </div>
            <button routerLink="/category-new" class="tw-w-8 tw-h-8 tw-rounded-full tw-border-2" style="color: var(--text-color-tertiary); border-color: var(--button-color-tertiary);">
              <span class="pi pi-plus tw-text-sm"></span>
            </button>
          </li>
          <li routerLink="/setting" routerLinkActive="active shadow-thin" class="tw-flex tw-w-full tw-justify-between tw-cursor-pointer tw-items-center tw-mb-6">
            <div class="tw-flex tw-items-center tw-h-8">
              <span class="pi pi-user"></span>
              <span class="tw-ml-4">Setting</span>
            </div>
          </li>
        </ul>
        <p-chip styleClass="tw-py-6 md:tw-py-3 profile-chip" class="mt-auto md:mt-0 tw-w-full md:tw-w-auto">
          <div class="tw-flex tw-items-center tw-justify-center">
            <span class="tw-text-sm tw-font-bold">{{account.accountId}}</span>
          </div>
        </p-chip>
        <div (click)="accountMenu.toggle($event)" class="tw-flex tw-w-full tw-items-center tw-p-2 md:tw-p-0 md:tw-pl-3 tw-cursor-pointer tw-rounded-xl tw-mt-4 md:tw-mx-0 md:tw-mt-0 tw-bg-[color:var(--surface-w)] md:tw-bg-transparent" *ngIf="account$ | async as account">
          <p-avatar [style]="{'display': 'flex'}" *ngIf="account.accountId && (account.accountId | profileCover | async) as coverImg" image="{{ coverImg }}"
            size="large"
            shape="circle">
          </p-avatar>
          <p class="tw-ml-3 tw-font-semibold md:tw-hidden" style="color: var(--text-color);" *ngIf="profile$ | async as profile">{{profile.display_name}}</p>
          <span class="pi tw-ml-auto md:tw-hidden" [ngClass]="{'pi-chevron-down': !accountMenu.visible, 'pi-chevron-up': accountMenu.visible}"></span>
          <p-menu #accountMenu [appendTo]="'body'" [popup]="true" [model]="accountMenuItems"></p-menu>
        </div>
      </div>
      <p-divider class="md:tw-hidden tw-w-full"></p-divider>
      <div class="tw-px-8 tw-border-t tw-pb-3 tw-w-2/3 md:tw-hidden" style="border-color: var(--surface-card);">
        <div class="tw-w-full tw-flex tw-items-center tw-justify-center tw-rounded-full theme-switch" *ngIf="theme$|async as theme">
          <div class="tw-flex tw-w-full tw-items-center tw-justify-center tw-p-2 tw-cursor-pointer p-text-secondary" [ngClass]="{'active-theme tw-rounded-full shadow-neat': theme === 'light'}" (click)="switchMode('light')"><span class="pi pi-sun"></span></div>
          <div class="tw-flex tw-w-full tw-items-center tw-justify-center tw-p-2 tw-cursor-pointer p-text-secondary" [ngClass]="{'active-theme tw-rounded-full shadow-neat': theme === 'dark'}" (click)="switchMode('dark')" ><span class="pi pi-moon"></span></div>
        </div>
      </div>
    </nav>
    <div class="md:tw-hidden">
      <button
        type="button"
        class="tw-rounded-md p-2 tw-inline-flex tw-items-center tw-justify-center tw-hover:text-gray-500 tw-hover:bg-gray-100 tw-focus:outline-none tw-focus:ring-2 tw-focus:ring-inset tw-focus:ring-indigo-500"
        aria-expanded="false"
        (click)="isOpen = !isOpen;">
        <span class="tw-sr-only">Open menu</span>
        <svg *ngIf="!isOpen" class="tw-h-6 tw-w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="tw-round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
        <svg *ngIf="isOpen" class="tw-h-6 tw-w-6" x-description="Heroicon name: outline/x" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="tw-round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
  </div>
</header>