.hero {
  min-height: 450px;
  height: 45vh;
  position: relative;
  background-image: url('/assets/images/certify-your-future.png');
  background-repeat: no-repeat;
  background-position: right 15% top 50%;
  background-size: contain;

  @media screen and (max-width: 991px) {
    background-size: 300px;
    background-position: bottom;
  }
}

.section-bg-white {
  background-color: var(--panel-color);
}