<div class="hero section-bg-white tw-min-h-[calc(100%_-_120px)]">
  <div class="tw-container tw-h-auto lg:tw-h-full tw-flex tw-flex-col tw-justify-center tw-items-center tw-py-10">
    <div class="grid tw-w-full tw-flex-col-reverse lg:flex-row">
      <div class="col-12 lg:col-6 tw-hidden lg:tw-flex lg:tw-justify-end">
        <img class="tw-object-contain tw-h-[480px]"src="/assets/images/under-construction.png">
      </div>
      <div class="col-12 lg:col-6 tw-flex tw-flex-col tw-justify-center tw-items-center lg:tw-items-start">
        <h1 class="tw-text-4xl tw-font-bold">Something is coming soon!</h1>
        <h2 class="tw-text-xl tw-my-6 p-text-secondary">Leave your email to follow our next event!</h2>
        <img class="lg:tw-hidden tw-object-contain tw-h-[400px]" src="/assets/images/under-construction.png">
        <form class="p-fluid tw-mt-6 tw-pr-0 lg-tw-pr-5 tw-w-full lg:tw-w-4/5">
          <div class="field">
            <label for="email">Your Email</label>
            <input name="email" type="text" pInputText/>
          </div>
          <button pButton class="p-button-outlined p-button-secondary mt-2" style="width: auto" label="Join Email List"></button>
        </form>
      </div>
    </div>
    
  </div>
</div>
<app-footer></app-footer>