:host ::ng-deep {
  height: 100%;
  display: block;

  .p-dataview-header {
    .p-button.p-button-icon-only.p-button-rounded {
      height: 18px;
      width: 18px;
      padding: 14px;
    }
  }
  
  .category-list-detail {
    height: 100%;
    .category-date {
      color: var(--text-color-tertiary-1);
    }
  }

  .p-dataview-content {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .category-description {
    color: var(--text-color-tertiary-1);
  }

  .category-list-item {
    &:hover {
      background-color: var(--surface-w);
      border-radius: 8px;
    }
  }

  .p-dataview.p-dataview-list .p-dataview-content > .p-grid > div {
    border: none;

    &:first-of-type {
      margin-top: 8px;
    }

    &:last-of-type {
      margin-bottom: 8px;
    }

    & + div {
      margin-top: 8px;
    }

    &:nth-child(even) {
      background-color: var(--surface-w);
      border-radius: 8px;
    }
  }
}