:host ::ng-deep {
  height: 100%;
  display: block;
  
  .category-list-detail {
    height: 100%;
    .category-date {
      color: var(--text-color-tertiary-1);
    }
  }

  .p-dataview-content {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .category-description {
    color: var(--text-color-tertiary-1);
  }

  .category-list-item {
    &:hover {
      background-color: var(--surface-w);
    }
  }
}