<div class="tw-container" *ngIf="category$ | async as category">
  <h1 class="tw-font-semibold tw-text-xl tw-my-10">Bulk Mint</h1>
  <p-panel>
    <ng-template pTemplate="header">
      <div class="tw-flex tw-flex-row tw-w-full tw-items-center">
        <div class="tw-text-lg">
          <span class="tw-font-semibold">Category: </span>
          <span class="tw-font-bold" [ngStyle]="{color:'var(--primary-color)'}">{{category.title}}</span>
        </div>
        <button pButton icon="pi pi-download" class="tw-ml-auto p-button-secondary" [loading]="sampling" label="Download CSV Template" #downloadSampleButton></button>
      </div>
    </ng-template>
    <ng-container [ngSwitch]="step">
      <ng-template [ngSwitchCase]="'select_file'">
        <div class="p-fluid">
          <div class="field">
            <label class="">Upload CSV File</label>
            <ngx-dropzone (change)="onSelect($event)" [multiple]="false" accept="text/csv">
              <ngx-dropzone-label>
                <span class="tw-block mb-3">Drop files or <span class="tw-text-lime-500">browse your device</span></span>
              </ngx-dropzone-label>
              <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
          </div>
        </div>
      </ng-template>
      <ng-template [ngSwitchCase]="'preview'">
        <div class="p-fluid">
          <div class="field">
            <label class="">Review CSV Uploaded File: <span class="tw-font-medium">{{files[0].name}}</span></label>
            <p-table [columns]="cols" [value]="rowData" dataKey="title" styleClass="p-datatable-data" [rowHover]="true"
              [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" responsiveLayout="scroll"
              [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                  <th style="width: 8rem"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                  </td>
                  <td style="text-align: center">
                    <button pButton type="button" class="p-button-rounded p-button-secondary" icon="pi pi-circle-fill" *ngIf="rowData.processing_status === 'processing'" [loading]="true"></button>
                    <button pButton type="button" class="p-button-rounded p-button-success" icon="pi pi-check" *ngIf="rowData.processing_status === 'completed'"></button>
                    <button pButton type="button" class="p-button-rounded p-button-danger" icon="pi pi-times" *ngIf="rowData.processing_status === 'error'"></button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="8">No records found.</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </p-panel>
  <p-toolbar styleClass="tw-sticky tw-bottom-0 tw-mt-10 tw-w-auto">
    <div class="p-toolbar-group-left" *ngIf="step === 'preview'">
      <button icon="pi pi-cancel" class="p-button-danger" (click)="step = 'select_file'" pButton label="Back"></button>
    </div>
    <div class="p-toolbar-group-right tw-ml-auto">
      <button *ngIf="step === 'select_file'" icon="pi pi-arrow-right" [disabled]="!files.length" [loading]="fileLoading" (click)="preview()" pButton label="Continue"></button>
      <button *ngIf="step === 'preview'" icon="pi pi-check" [disabled]="!rowData.length" [loading]="fileProcessing" pButton label="Process" (click)="process()"></button>
    </div>
  </p-toolbar>  
</div>