<div class="tw-w-80 tw-h-full tw-absolute sm:tw-relative tw-shadow-lg lg:tw-h-full tw-flex-col tw-justify-between tw-hidden md:tw-flex" style="background-color: var(--surface-card);">
  <div class="tw-px-4">
    <ul class="tw-mt-12 nav-side">
      <li routerLink="/dashboard" routerLinkActive="active shadow-thin" class="tw-flex tw-w-full tw-justify-between tw-cursor-pointer tw-items-center tw-mb-6">
        <div class="tw-flex tw-items-center tw-h-8">
          <span class="pi pi-home"></span>
          <span class="tw-ml-2">Home</span>
        </div>
      </li>
      <li routerLinkActive="active shadow-thin" class="tw-flex tw-w-full tw-justify-between tw-cursor-pointer tw-items-center tw-mb-6">
        <div routerLink="/categories" class="tw-flex tw-items-center tw-w-full tw-h-8">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stack" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <polyline points="12 4 4 8 12 12 20 8 12 4" />
            <polyline points="4 12 12 16 20 12" />
            <polyline points="4 16 12 20 20 16" />
          </svg>
          <span class="tw-ml-2">Category</span>
        </div>
        <button routerLink="/category-new" class="tw-w-8 tw-rounded-full tw-border-2" style="color: var(--text-color-tertiary); border-color: var(--button-color-tertiary);">
          <span class="pi pi-plus tw-text-sm"></span>
        </button>
      </li>
      <li routerLink="/setting" routerLinkActive="active shadow-thin" class="tw-flex tw-w-full tw-justify-between tw-cursor-pointer tw-items-center tw-mb-6">
        <div class="tw-flex tw-items-center tw-h-8">
          <span class="pi pi-user"></span>
          <span class="tw-ml-2">Setting</span>
        </div>
      </li>
    </ul>
  </div>
  <div class="tw-px-6 tw-border-t tw-py-3" style="border-color: var(--surface-ground);">
    <div class="tw-w-full tw-flex tw-items-center tw-justify-center tw-rounded-full theme-switch" *ngIf="theme$|async as theme">
      <div class="tw-flex tw-w-full tw-items-center tw-justify-center tw-p-2 tw-cursor-pointer p-text-secondary" [ngClass]="{'active tw-rounded-full shadow-neat': theme === 'light'}" (click)="switchMode('light')"><span class="pi pi-sun"></span></div>
      <div class="tw-flex tw-w-full tw-items-center tw-justify-center tw-p-2 tw-cursor-pointer p-text-secondary" [ngClass]="{'active tw-rounded-full shadow-neat': theme === 'dark'}" (click)="switchMode('dark')" ><span class="pi pi-moon"></span></div>
    </div>
  </div>
</div>