<!-- Sidebar starts -->
  <!-- Remove class [ hidden ] and replace [ sm:flex ] with [ flex ] -->
  <div class="tw-w-64 tw-absolute sm:tw-relative tw-bg-gray-800 tw-shadow lg:tw-h-full tw-h-screen tw-flex-col tw-justify-between tw-hidden md:tw-flex">
    <div class="tw-px-8">
      <ul class="tw-mt-12">
        <li class="tw-flex tw-w-full tw-justify-between tw-text-gray-300 hover:tw-text-gray-500 tw-cursor-pointer tw-items-center tw-mb-6">
          <div class="tw-flex tw-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-grid" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <rect x="4" y="4" width="6" height="6" rx="1"></rect>
              <rect x="14" y="4" width="6" height="6" rx="1"></rect>
              <rect x="4" y="14" width="6" height="6" rx="1"></rect>
              <rect x="14" y="14" width="6" height="6" rx="1"></rect>
            </svg>
            <span class="tw-ml-2">Dashboard</span>
          </div>
          <div class="tw-py-1 tw-px-3 tw-bg-gray-700 tw-rounded tw-text-gray-500 tw-flex tw-items-center tw-justify-center">5</div>
        </li>
        <li class="tw-flex tw-w-full tw-justify-between tw-text-gray-500 hover:tw-text-gray-400 tw-cursor-pointer tw-items-center tw-mb-6">
          <div class="tw-flex tw-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-puzzle" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <path d="M4 7h3a1 1 0 0 0 1 -1v-1a2 2 0 0 1 4 0v1a1 1 0 0 0 1 1h3a1 1 0 0 1 1 1v3a1 1 0 0 0 1 1h1a2 2 0 0 1 0 4h-1a1 1 0 0 0 -1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-1a2 2 0 0 0 -4 0v1a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h1a2 2 0 0 0 0 -4h-1a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1"></path>
            </svg>
            <span class="tw-ml-2">Products</span>
          </div>
          <div class="tw-py-1 tw-px-3 tw-bg-gray-700 tw-rounded tw-text-gray-500 tw-flex tw-items-center tw-justify-center">8</div>
        </li>
        <li class="tw-flex tw-w-full tw-justify-between tw-text-gray-500 hover:tw-text-gray-400 tw-cursor-pointer tw-items-center tw-mb-6">
          <div class="tw-flex tw-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="tw-icon tw-icon-tabler tw-icon-tabler-compass" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <polyline points="8 16 10 10 16 8 14 14 8 16"></polyline>
              <circle cx="12" cy="12" r="9"></circle>
            </svg>
            <span class="ml-2">Performance</span>
          </div>
        </li>
        <li class="tw-flex tw-w-full tw-justify-between tw-text-gray-500 hover:tw-text-gray-400 tw-cursor-pointer tw-items-center tw-mb-6">
          <div class="tw-flex tw-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="tw-icon tw-icon-tabler tw-icon-tabler-code" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <polyline points="7 8 3 12 7 16"></polyline>
              <polyline points="17 8 21 12 17 16"></polyline>
              <line x1="14" y1="4" x2="10" y2="20"></line>
            </svg>
            <span class="tw-ml-2">Deliverables</span>
          </div>
        </li>
        <li class="tw-flex tw-w-full tw-justify-between tw-text-gray-500 hover:tw-text-gray-400 tw-cursor-pointer tw-items-center tw-mb-6">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-puzzle" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <path d="M4 7h3a1 1 0 0 0 1 -1v-1a2 2 0 0 1 4 0v1a1 1 0 0 0 1 1h3a1 1 0 0 1 1 1v3a1 1 0 0 0 1 1h1a2 2 0 0 1 0 4h-1a1 1 0 0 0 -1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-1a2 2 0 0 0 -4 0v1a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h1a2 2 0 0 0 0 -4h-1a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1"></path>
            </svg>
            <span class="tw-ml-2">Invoices</span>
          </div>
          <div class="tw-py-1 tw-px-3 tw-bg-gray-700 tw-rounded tw-text-gray-500 tw-flex tw-items-center tw-justify-center">25</div>
        </li>
        <li class="tw-flex tw-w-full tw-justify-between tw-text-gray-500 hover:tw-text-gray-400 tw-cursor-pointer tw-items-center mb-6">
          <div class="tw-flex tw-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stack" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <polyline points="12 4 4 8 12 12 20 8 12 4" />
              <polyline points="4 12 12 16 20 12" />
              <polyline points="4 16 12 20 20 16" />
            </svg>
            <span class="tw-ml-2">Inventory</span>
          </div>
        </li>
      </ul>
      <div class="tw-flex tw-justify-center tw-mt-48 tw-mb-4 tw-w-full">
        <div class="tw-relative">
          <div class="tw-text-gray-500 tw-absolute tw-ml-4 tw-inset-0 tw-m-auto tw-w-4 tw-h-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="tw-icon tw-icon-tabler tw-icon-tabler-search" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <circle cx="10" cy="10" r="7"></circle>
              <line x1="21" y1="21" x2="15" y2="15"></line>
            </svg>
          </div>
          <input class="tw-bg-gray-700 focus:tw-outline-none tw-rounded tw-w-full tw-text-gray-500 tw-pl-10 tw-py-2" type="text" placeholder="Search" />
        </div>
      </div>
    </div>
    <div class="tw-px-8 tw-border-t tw-border-gray-700">
      <ul class="tw-w-full tw-flex tw-items-center tw-justify-between tw-bg-gray-800">
        <li class="tw-cursor-pointer tw-text-white tw-pt-5 tw-pb-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bell" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path>
            <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
          </svg>
        </li>
        <li class="tw-cursor-pointer tw-text-white tw-pt-5 tw-pb-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-messages" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <path d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10"></path>
            <path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2"></path>
          </svg>
        </li>
        <li class="tw-cursor-pointer tw-text-white tw-pt-5 tw-pb-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
            <circle cx="12" cy="12" r="3"></circle>
          </svg>
        </li>
        <li class="tw-cursor-pointer tw-text-white tw-pt-5 tw-pb-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-archive" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <rect x="3" y="4" width="18" height="4" rx="2"></rect>
            <path d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10"></path>
            <line x1="10" y1="12" x2="14" y2="12"></line>
          </svg>
        </li>
      </ul>
    </div>
  </div>
  <div [ngClass]="'tw-w-64 tw-z-40 tw-absolute tw-bg-gray-800 tw-shadow lg:tw-h-full tw-flex-col tw-justify-between md:tw-hidden tw-transition tw-duration-150 tw-ease-in-out ' + (isMenu ? 'tw-transform tw-translate-x-0' : 'tw-transform -tw-translate-x-full')">
    <div class="tw-h-10 tw-w-10 tw-bg-gray-800 tw-absolute tw-right-0 tw-mt-16 -tw-mr-10 tw-flex tw-items-center tw-shadow tw-rounded-tr tw-rounded-br tw-justify-center tw-cursor-pointer" (click)="isMenuBtn()">
      <svg xmlns="http://www.w3.org/2000/svg" class="tw-icon tw-icon-tabler tw-icon-tabler-adjustments" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFFFF" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <circle cx="6" cy="10" r="2" />
        <line x1="6" y1="4" x2="6" y2="8" />
        <line x1="6" y1="12" x2="6" y2="20" />
        <circle cx="12" cy="16" r="2" />
        <line x1="12" y1="4" x2="12" y2="14" />
        <line x1="12" y1="18" x2="12" y2="20" />
        <circle cx="18" cy="7" r="2" />
        <line x1="18" y1="4" x2="18" y2="5" />
        <line x1="18" y1="9" x2="18" y2="20" />
      </svg>
    </div>
    <div [ngClass]="(isMenu ? 'tw-block' : 'tw-hidden') + ' tw-h-10 tw-w-10 tw-bg-gray-800 tw-absolute tw-right-0 tw-mt-16 -tw-mr-10 tw-flex tw-items-center tw-shadow tw-rounded-tr tw-rounded-br tw-justify-center tw-cursor-pointer tw-text-white'" (click)="isMenuBtn()">
      <svg xmlns="http://www.w3.org/2000/svg" class="tw-icon tw-icon-tabler tw-icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" />
        <line x1="18" y1="6" x2="6" y2="18" />
        <line x1="6" y1="6" x2="18" y2="18" />
      </svg>
    </div>
    <div class="tw-px-8">
      <ul class="tw-mt-12">
        <li class="tw-flex tw-w-full tw-justify-between tw-text-gray-300 hover:tw-text-gray-500 tw-cursor-pointer tw-items-center tw-mb-6">
          <div class="tw-flex tw-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-grid" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <rect x="4" y="4" width="6" height="6" rx="1"></rect>
              <rect x="14" y="4" width="6" height="6" rx="1"></rect>
              <rect x="4" y="14" width="6" height="6" rx="1"></rect>
              <rect x="14" y="14" width="6" height="6" rx="1"></rect>
            </svg>
            <span class="ml-2">Dashboard</span>
          </div>
          <div class="tw-py-1 tw-px-3 tw-bg-gray-700 tw-rounded tw-text-gray-500 tw-flex tw-items-center tw-justify-center">5</div>
        </li>
        <li class="tw-flex tw-w-full tw-justify-between tw-text-gray-500 hover:tw-text-gray-400 tw-cursor-pointer tw-items-center tw-mb-6">
          <div class="tw-flex tw-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-puzzle" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <path d="M4 7h3a1 1 0 0 0 1 -1v-1a2 2 0 0 1 4 0v1a1 1 0 0 0 1 1h3a1 1 0 0 1 1 1v3a1 1 0 0 0 1 1h1a2 2 0 0 1 0 4h-1a1 1 0 0 0 -1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-1a2 2 0 0 0 -4 0v1a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h1a2 2 0 0 0 0 -4h-1a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1"></path>
            </svg>
            <span class="tw-ml-2">Products</span>
          </div>
          <div class="tw-py-1 tw-px-3 tw-bg-gray-700 tw-rounded tw-text-gray-500 tw-flex tw-items-center tw-justify-center">8</div>
        </li>
        <li class="tw-flex tw-w-full tw-justify-between tw-text-gray-500 hover:tw-text-gray-400 tw-cursor-pointer tw-items-center tw-mb-6">
          <div class="tw-flex tw-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-compass" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <polyline points="8 16 10 10 16 8 14 14 8 16"></polyline>
              <circle cx="12" cy="12" r="9"></circle>
            </svg>
            <span class="tw-ml-2">Performance</span>
          </div>
        </li>
        <li class="tw-flex tw-w-full tw-justify-between tw-text-gray-500 hover:tw-text-gray-400 tw-cursor-pointer tw-items-center tw-mb-6">
          <div class="tw-flex tw-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-code" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <polyline points="7 8 3 12 7 16"></polyline>
              <polyline points="17 8 21 12 17 16"></polyline>
              <line x1="14" y1="4" x2="10" y2="20"></line>
            </svg>
            <span class="tw-ml-2">Deliverables</span>
          </div>
        </li>
        <li class="tw-flex tw-w-full tw-justify-between tw-text-gray-500 hover:tw-text-gray-400 tw-cursor-pointer tw-items-center tw-mb-6">
          <div class="tw-flex tw-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-puzzle" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <path d="M4 7h3a1 1 0 0 0 1 -1v-1a2 2 0 0 1 4 0v1a1 1 0 0 0 1 1h3a1 1 0 0 1 1 1v3a1 1 0 0 0 1 1h1a2 2 0 0 1 0 4h-1a1 1 0 0 0 -1 1v3a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-1a2 2 0 0 0 -4 0v1a1 1 0 0 1 -1 1h-3a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1h1a2 2 0 0 0 0 -4h-1a1 1 0 0 1 -1 -1v-3a1 1 0 0 1 1 -1"></path>
            </svg>
            <span class="tw-ml-2">Invoices</span>
          </div>
          <div class="tw-py-1 tw-px-3 tw-bg-gray-700 tw-rounded tw-text-gray-500 tw-flex tw-items-center tw-justify-center">25</div>
        </li>
        <li class="tw-flex tw-w-full tw-justify-between tw-text-gray-500 hover:tw-text-gray-400 tw-cursor-pointer tw-items-center tw-mb-6">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stack" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <polyline points="12 4 4 8 12 12 20 8 12 4" />
              <polyline points="4 12 12 16 20 12" />
              <polyline points="4 16 12 20 20 16" />
            </svg>
            <span class="tw-ml-2">Inventory</span>
          </div>
        </li>
        <li class="tw-flex tw-w-full tw-justify-between tw-text-gray-500 hover:tw-text-gray-400 tw-cursor-pointer tw-items-center">
          <div class="tw-flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" />
              <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
              <circle cx="12" cy="12" r="3" />
            </svg>
            <span class="tw-ml-2">Settings</span>
          </div>
        </li>
      </ul>
      <div class="tw-flex tw-justify-center tw-mt-48 tw-mb-4 tw-w-full">
        <div class="tw-relative">
          <div class="tw-text-gray-500 tw-absolute tw-ml-4 tw-inset-0 tw-m-auto tw-w-4 tw-h-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="tw-icon tw-icon-tabler tw-icon-tabler-search" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <circle cx="10" cy="10" r="7"></circle>
              <line x1="21" y1="21" x2="15" y2="15"></line>
            </svg>
          </div>
          <input class="tw-bg-gray-700 focus:tw-outline-none tw-rounded tw-w-full tw-text-gray-500 tw-pl-10 tw-py-2" type="text" placeholder="Search" />
        </div>
      </div>
    </div>
    <div class="tw-px-8 tw-border-t tw-border-gray-700">
      <ul class="tw-w-full tw-flex tw-items-center tw-justify-between tw-bg-gray-800">
        <li class="tw-cursor-pointer tw-text-white tw-pt-5 pb-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="tw-icon tw-icon-tabler tw-icon-tabler-bell" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path>
            <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
          </svg>
        </li>
        <li class="tw-cursor-pointer tw-text-white tw-pt-5 pb-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="tw-icon tw-icon-tabler tw-icon-tabler-messages" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <path d="M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10"></path>
            <path d="M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2"></path>
          </svg>
        </li>
        <li class="tw-cursor-pointer tw-text-white tw-pt-5 pb-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="tw-icon tw-icon-tabler tw-icon-tabler-settings" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
            <circle cx="12" cy="12" r="3"></circle>
          </svg>
        </li>
        <li class="tw-cursor-pointer tw-text-white tw-pt-5 pb-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="tw-icon tw-icon-tabler tw-icon-tabler-archive" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z"></path>
            <rect x="3" y="4" width="18" height="4" rx="2"></rect>
            <path d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10"></path>
            <line x1="10" y1="12" x2="14" y2="12"></line>
          </svg>
        </li>
      </ul>
    </div>
  </div>
  <!-- Sidebar ends -->