<div class="tw-container">
  <h1 class="tw-font-bold tw-text-xl tw-my-5">Create Certificate</h1>
  <form [formGroup]="certForm" (ngSubmit)="onSubmit()">
    <p-panel header="Basic Info">
      <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 md:tw-gap-10">
        <div class="tw-w-full">
          <div class="p-fluid">
            <div class="field">
              <label class="">Media</label>
              <ngx-dropzone (change)="onSelect($event)" [multiple]="false">
                <ngx-dropzone-label>
                  <span class="tw-block mb-3">Drop files or <span class="tw-text-lime-500">browse your device</span></span>
                  <span class="tw-block">Supported types: .jpg, .png, .gif (Max 40MB), .mov, .mp4 (Max 100MB)</span>
                </ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
            </div>
          </div>
        </div>
        <div class="tw-w-full">
          <form class="p-fluid" formGroupName="basicInfo">
            <div class="field">
              <label class="" for="title">Title</label>
              <input type="text" id="title" formControlName="title" pInputText>
            </div>
            <div class="field">
              <label class="" for="description">Description</label>
              <input type="text" id="description" formControlName="description" pInputText>
            </div>
            <!-- <div class="field">
              <label class="" for="title">Production Year</label>
              <input type="text" id="title" pInputText>
            </div>
            <div class="field">
              <label class="" for="title">Height</label>
              <input type="text" id="title" pInputText>
            </div>
            <div class="field">
              <label class="" for="title">Width</label>
              <input type="text" id="title" pInputText>
            </div> -->
          </form>
        </div>
      </div>
    </p-panel>
  
    <p-panel header="Additional Information" styleClass="tw-mt-10" [toggleable]="true">
      <!-- <ng-template pTemplate="icons">
        <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
            <span class="pi pi-cog"></span>
        </button>
        <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
      </ng-template> -->
      <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 md:tw-gap-4">
        <div class="tw-w-full"></div>
        <div class="tw-w-full">
          <form class="p-fluid" formGroupName="additionalInfo">
            <div class="field">
              <label class="" for="certification_authority_name">Authority Name</label>
              <input type="text" id="certification_authority_name" formControlName="certification_authority_name" pInputText required>
            </div>
            <div class="field">
              <label class="" for="major">Major</label>
              <input type="text" id="major" formControlName="major" pInputText>
            </div>
            <div class="field">
              <label class="" for="degree_title">Degree Title</label>
              <input type="text" id="degree_title" formControlName="degree_title" pInputText>
            </div>
            <div class="field">
              <label class="" for="degree_classification">Degree Classification</label>
              <input type="text" id="degree_classification" formControlName="degree_classification" pInputText>
            </div>
          </form>
        </div>
      </div>
    </p-panel>
    <p-toolbar styleClass="tw-sticky tw-bottom-0 tw-mt-10 tw-w-auto">
      <div class="p-toolbar-group-left">
        <button icon="pi pi-cancel" class="p-button-danger" pButton label="Cancel"></button>
      </div>
      <div class="p-toolbar-group-right">
        <button icon="pi pi-plus" class="p-button-primary" pButton label="Create and Mint" [disabled]="certForm.invalid"></button>
      </div>
    </p-toolbar>
  </form>    
</div>