<div class="tw-flex tw-h-full tw-flex-no-wrap tw-overflow-hidden">
  <app-side-bar></app-side-bar>
  <div class="tw-w-full tw-flex tw-flex-col tw-mx-auto tw-pt-10 tw-h-full tw-overflow-y-auto" [formGroup]="categoryForm">
    <h1 class="tw-font-bold tw-text-3xl tw-mx-10 tw-mb-10">Create Category</h1>
    <div class="p-fluid grid tw-rounded-md tw-mx-10 tw-p-5 tw-mb-10 shadow-5" style="background-color: var(--surface-card);" formGroupName="info">
      <div class="col-12">
        <h3 appTitle class="tw-text-lg tw-mb-4 tw-pl-2">Category Info</h3>
      </div>
      <div class="col-12 lg:col-6">
        <div class="field">
          <label for="title">Category tile</label>
          <input name="title" type="text" pInputText formControlName="title" [maxlength]="256"/>
        </div>
        <div class="field">
          <label for="description">Category description</label>
          <textarea pInputTextarea [autoResize]="true" name="description" formControlName="description" [maxlength]="256"></textarea>
        </div>
      </div>
      <div class="col-12 lg:col-6">
        <div class="field tw-flex tw-flex-col tw-h-full">
          <label class="" for="media">Cover image</label>
          <app-file-upload style="height: 100%; padding-bottom: 1.25rem;" accept="image/*,video/*" formControlName="cover_image"></app-file-upload>
        </div>
      </div>
    </div>
    <div class="tw-rounded-md tw-mx-10 tw-p-5 tw-mb-10 shadow-5" style="background-color: var(--surface-card);">
      <div class="col-12">
        <h3 appTitle class="tw-text-lg tw-mb-4 tw-pl-2">Additional Fields</h3>
        <div formArrayName="fields">
          <ng-container *ngFor="let fieldForm of fields.controls; let index = index">
            <div [formGroupName]="index" class="p-fluid grid">
              <div class="col-12 tw-my-0 tw-flex tw-justify-between tw-items-center">
                <h3>Field <span class="tw-font-medium">{{fieldForm.get('name')?.value || index + 1}}</span></h3>
                <div>
                  <button pButton class="p-button-text" icon="pi pi-trash" (click)="removeField(index)"></button>
                </div>
              </div>
              <div class="col-12 lg:col-6">
                <div class="field">
                  <label class="tw-mb-2" for="label_{{index}}">Label</label>
                  <input name="label_{{index}}" type="text" pInputText formControlName="label" [maxlength]="256"/>
                </div>
              </div>
              <div class="col-12 lg:col-6">
                <div class="field">
                  <label class="tw-mb-2" for="name_{{index}}">Name</label>
                  <input name="name_{{index}}" type="text" pInputText formControlName="name" readonly [maxlength]="256"/>
                </div>
              </div>
              <div class="col-12 lg:col-6">
                <div class="field">
                  <label class="tw-mb-2" for="type_{{index}}">Type</label>
                  <p-dropdown [options]="typeOptions"
                    formControlName="type"
                    inputId="type_{{index}}"
                    [placeholder]="'Select field type'">
                  </p-dropdown>
                </div>
              </div>
              <div class="col-12 lg:col-6" *ngIf="fieldForm.value.type === 'Array'">
                <div class="field">
                  <label for="options">Options</label>
                  <p-chips inputId="options" formControlName="options"></p-chips>
                </div>
              </div>
              <div class="col-12 lg:col-6 tw-flex tw-items-end">
                <div class="field-checkbox">
                  <p-checkbox formControlName="mandatory" [binary]="true" inputId="mandatory_{{index}}"></p-checkbox>
                  <label for="mandatory_{{index}}">Is Mandatory</label>
                </div>
              </div>
              <div class="col-12">
                <p-divider class="tw-py-5"></p-divider>
              </div>
            </div>
          </ng-container>
          <div class="tw-flex tw-justify-end">
            <button pButton class="p-button-text tw-my-3" style="width: auto;" label="Add New Field" icon="pi pi-plus" (click)="addNewField()"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="tw-sticky tw-shadow-[0px_0px_1px_0px_var(--surface-ground)] tw-mt-auto tw-bottom-0 tw-w-full tw-px-10 tw-py-3 tw-flex tw-items-center tw-justify-between" style="background-color: var(--surface-card);">
      <p *ngIf="fields && fields.length" class="p-text-secondary">{{fields.length.toString().padStart(2,'0')}} field(s) added</p>
      <p *ngIf="!fields || !fields.length" class="p-text-secondary">No field added</p>
      <button pButton class="p-button-outlined" [disabled]="info.invalid || fields.status === 'INVALID'" [loading]="!!(categoryService.addingCategory$ | async)" style="width: auto" label="Done" (click)="onSubmit()"></button>
    </div>
  </div>
</div>