<div class="tw-flex tw-h-full tw-flex-no-wrap tw-overflow-hidden">
  <app-side-bar></app-side-bar>
  <div class="tw-w-full tw-flex tw-flex-col tw-mx-auto tw-pt-10 tw-h-full tw-overflow-y-auto">
    <h1 class="tw-font-bold tw-text-3xl tw-mx-10 tw-mb-10">Hey there</h1>
    <div class="tw-rounded-md tw-mx-10 grid tw-p-10 tw-mt-0 tw-mb-10 tw-items-center tw-flex-col-reverse lg:tw-flex-row shadow-5" style="background-color: var(--surface-card);">
      <div class="col-12 lg:col-6 tw-px-5 lg:tw-px-20">
        <h2 class="tw-text-4xl tw-font-bold">Things will be coming soon...</h2>
        <p class="tw-text-lg tw-mt-6 p-text-secondary">Advance your career and pave the way to the future.</p>
      </div>
      <div class="col-12 lg:col-6 tw-px-5">
        <img class="tw-w-4/5 tw-h-auto tw-object-contain" src="/assets/images/certify-your-future.png">
      </div>
    </div>
  </div>
</div>