<div class="grid tw-min-h-full">
  <div class="col-12 lg:col tw-px-4">
    <div class="tw-h-full tw-flex tw-flex-col">
      <h3 class="tw-text-lg tw-font-semibold tw-border-l-8 tw-pl-4 tw-border-sky-500">Individual</h3>
      <p class="tw-mt-5 tw-text-gray-400">Just scan passports, driver's licenses or other forms of national or state identification cards to quickly verify the digital identities of individual user.</p>
      <p-divider styleClass="tw-my-5"></p-divider>
      <ul>
        <li class="tw-py-4"><span class="tw-text-blue-500 tw-mr-2 pi pi-check"></span>Passport</li>
        <li class="tw-py-4"><span class="tw-text-blue-500 tw-mr-2 pi pi-check"></span>National ID Card</li>
        <li class="tw-py-4"><span class="tw-text-blue-500 tw-mr-2 pi pi-check"></span>Selfie Image</li>
      </ul>
      <div class="tw-py-8"></div>
      <button pButton class="p-button-outlined p-button-info tw-mt-auto" label="Start Verifying"></button>
    </div>
  </div>
  <div class="col-12 lg:col tw-px-4 tw-mt-32 lg:tw-mt-0">
    <div class="tw-h-full tw-flex tw-flex-col">
      <h3 class="tw-text-lg tw-font-semibold tw-border-l-8 tw-pl-4 tw-border-sky-700">Organization</h3>
      <p class="tw-mt-5 tw-text-gray-400">Contact us to verify your organization.</p>
      <p-divider styleClass="tw-my-5"></p-divider>
      <ul>
        <li class="tw-py-4"><span class="tw-text-blue-500 tw-mr-2 pi pi-check"></span>Email</li>
        <li class="tw-py-4"><span class="tw-text-blue-500 tw-mr-2 pi pi-check"></span>Contact Name</li>
        <li class="tw-py-4"><span class="tw-text-blue-500 tw-mr-2 pi pi-check"></span>Organization Name</li>
        <li class="tw-py-4"><span class="tw-text-blue-500 tw-mr-2 pi pi-check"></span>Address</li>
        <li class="tw-py-4"><span class="tw-text-blue-500 tw-mr-2 pi pi-check"></span>Phone Number</li>
      </ul>
      <div class="tw-py-8"></div>
      <button pButton class="p-button-info tw-mt-auto" label="Start Verifying"></button>
    </div>
  </div>
</div>