<div class="tw-container" *ngIf="category$ | async as category">
  <h1 class="tw-font-bold tw-text-xl tw-my-10">Create Certificate: <span [ngStyle]="{color:'var(--primary-color)'}">{{category.title}}</span></h1>
  <form [formGroup]="certForm" (ngSubmit)="onSubmit()" class="p-fluid">
    <ng-container *ngFor="let field of category.fields">
      <ng-container [ngSwitch]="field.data_type">
        <ng-template [ngSwitchCase]="'string'">
          <div class="field">
            <label class="" for="{{field.name}}">{{field.label}}</label>
            <input type="text" id="{{field.name}}" formControlName="{{field.name}}" pInputText>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'number'">
          <div class="field">
            <label class="" for="{{field.name}}">{{field.label}}</label>
            <p-inputNumber inputId="{{field.name}}" formControlName="{{field.name}}"></p-inputNumber>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'boolean'">
          <div class="field-checkbox">
            <p-checkbox formControlName="{{field.name}}" [binary]="true" inputId="{{field.name}}"></p-checkbox>
            <label for="{{field.name}}">{{field.label}}</label>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'array'">
          <div class="field">
            <label class="" for="{{field.name}}">{{field.label}}</label>
            <p-dropdown [options]="field.options || []"
                formControlName="{{field.name}}">
            </p-dropdown>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'html'">
          <div class="field">
            <label class="" for="{{field.name}}">{{field.label}}</label>
            <p-editor [id]="field.name" formControlName="{{field.name}}" [style]="{'height':'220px'}"></p-editor>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'media'">
          <div class="field">
            <label class="" for="{{field.name}}">{{field.label}}</label>
            <app-file-upload formControlName="{{field.name}}"></app-file-upload>
          </div>
        </ng-template>
      </ng-container>
    </ng-container>
    <p-toolbar styleClass="tw-sticky tw-bottom-0 tw-mt-10 tw-w-auto">
      <div class="p-toolbar-group-left">
        <button icon="pi pi-cancel" class="p-button-danger" pButton label="Cancel"></button>
      </div>
      <div class="p-toolbar-group-right">
        <button icon="pi pi-plus" pButton label="Create and Mint" [disabled]="certForm.invalid"></button>
      </div>
    </p-toolbar>
  </form>    
</div>