<div class="ngx-dropzone" ngx-dropzone (change)="onSelect($event)" [accept]="accept" [multiple]="false" [disableClick]="files.length > 0">
  <ngx-dropzone-label>
    <span class="tw-block mb-3">
      <span class="pi pi-upload tw-mr-2"></span>
      {{label}}
    </span>
  </ngx-dropzone-label>
  <ngx-dropzone-image-preview gProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove($event)">
    <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
  </ngx-dropzone-image-preview>
</div>