<footer class="footer">
  <div class="tw-container tw-flex tw-flex-row tw-justify-between tw-items-center">
    <div class="logo_container">
      <a routerLink="/">
        <img class="tw-h-10 tw-w-auto tw-sm:h-10" src="/assets/images/logo.png" alt="Logo Brand">
      </a>
      <div>
        <a class="p-text-secondary tw-py-5 md:tw-py-0" routerLink="/">Privacy Policy</a>
        <span class="tw-mx-3 p-text-secondary">•</span>
        <a class="p-text-secondary tw-py-5 md:tw-py-0" routerLink="/">Terms & Conditions</a>
      </div>
    </div>
    <div class="tw-flex tw-flex-wrap tw-items-center tw-justify-end tw-w-2/5 md:tw-w-1/2">
      <a class="tw-m-4 tw-rounded-full tw-w-6 tw-h-6 hover:tw-scale-90" href="https://github.com/CertyNetwork " target="_blank" rel="nofollow noopener"><img src="/assets/images/common/github.svg" alt="Github"></a>
      <a class="tw-m-4 tw-rounded-full tw-w-6 tw-h-6 hover:tw-scale-90" href="https://mobile.twitter.com/certyhq" target="_blank" rel="nofollow noopener"><img src="/assets/images/common/twitter.svg" alt="Twitter"></a>
      <a class="tw-m-4 tw-rounded-full tw-w-6 tw-h-6 hover:tw-scale-90" href="https://t.me/certynetworkann" target="_blank" rel="nofollow noopener"><img src="/assets/images/common/telegram.svg" alt="Telegram"></a>
      <a class="tw-m-4 tw-rounded-full tw-w-6 tw-h-6 hover:tw-scale-90" href="https://github.com/CertyNetwork " target="_blank" rel="nofollow noopener"><img src="/assets/images/common/linkedin.svg" alt="Linkedin"></a>
      <a class="tw-m-4 tw-rounded-full tw-w-6 tw-h-6 hover:tw-scale-90" href=" https://discord.gg/gAcZ7uCCUG" target="_blank" rel="nofollow noopener"><img src="/assets/images/common/discord.svg" alt="Discord"></a>
      <a class="tw-m-4 tw-rounded-full tw-w-6 tw-h-6 hover:tw-scale-90" href="https://medium.com/@CertyNetwork" target="_blank" rel="nofollow noopener"><img src="/assets/images/common/medium.svg" alt="Medium"></a>
    </div>
  </div>
</footer>
