<div appTitle class="tw-text-lg tw-font-semibold tw-mb-8">Profile information</div>
<div *ngIf="profile$ | async as profile; else loading">
  <div class="tw-mb-8 tw-flex tw-flex-row tw-justify-start tw-items-center" *ngIf="authService.wallet?.getAccountId() | profileCover:shouldReLoad | async as coverImg">
    <div class="tw-relative profile-img">
      <p-avatar image="{{ coverImg }}"
        size="xlarge"
        shape="circle">
      </p-avatar>
      <!-- <button pButton *ngIf="coverImg !== '/assets/images/empty.jpeg'" class="tw-absolute p-button-secondary p-button-rounded" icon="pi pi-times" (click)="removeAvatar()"></button> -->
    </div>
    
    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Upload new picture"
      *ngIf="coverImg ==='/assets/images/empty.jpeg'"
      [customUpload]="true"
      (uploadHandler)="uploadAvatar($event, avatarUploader)"
      [auto]="true"
      [fileLimit]="1"
      #avatarUploader
      styleClass="tw-text-sm tw-ml-3" chooseLabel="Upload new picture" class="inline-block"></p-fileUpload>
  </div>
  <form class="p-fluid" [formGroup]="profileForm" *ngIf="profile.userType === 'individual'">
    <div class="field">
      <label class="" for="name">Display Name</label>
      <input type="text" id="name" formControlName="displayName" pInputText>
    </div>
    <div class="field">
      <label class="" for="email">Email</label>
      <input type="text" id="email" formControlName="email" pInputText>
    </div>
    <div class="field">
      <label class="" for="location">Location</label>
      <input type="text" id="location" formControlName="location" pInputText>
    </div>
    <div class="field">
      <label class="" for="bio">Bio</label>
      <p-editor formControlName="bio" [style]="{'height':'220px'}"></p-editor>
    </div>
    <!-- <div class="field">
      <label class="" for="signature">Signature</label>
      <app-signature-pad formControlName="signature"></app-signature-pad>
    </div> -->
    <div class="field">
      <label class="" for="linkedin_link">LinkedIn Link</label>
      <input type="text" id="linkedin_link" placeholder="https://" formControlName="linkedInLink" pInputText>
    </div>
    <div class="field">
      <label class="" for="github">Github</label>
      <input type="text" id="github" placeholder="https://" formControlName="githubLink" pInputText>
    </div>
    <div *appShellAsideView class="tw-sticky tw-mt-auto tw-bottom-0 tw-w-full tw-px-10 tw-py-3 tw-flex tw-items-center tw-justify-end" style="background-color: var(--surface-card);">
      <button [loading]="!!(userService.updatingProfile$ | async)" [disabled]="profileForm.invalid" pButton label="Save" style="max-width: 8rem" (click)="updateProfile()"></button>
    </div>
  </form>
  <form class="p-fluid" [formGroup]="profileOrganizationForm" *ngIf="profile.userType === 'institution'">
    <div class="field">
      <label class="" for="name">Company Name</label>
      <input type="text" id="name" formControlName="companyName" pInputText>
    </div>
    <div class="field">
      <label class="" for="email">Email</label>
      <input type="text" id="email" formControlName="email" pInputText>
    </div>
    <div class="field">
      <label class="" for="location">Location</label>
      <input type="text" id="location" formControlName="location" pInputText>
    </div>
    <div class="field">
      <label class="" for="organizationType">Company Type</label>
      <p-dropdown [options]="companyTypeOptions"
        [optionValue]="'value'"
        [optionLabel]="'label'"
        formControlName="organizationType"
        inputId="organizationType"
        [placeholder]="'Select a company type'">
      </p-dropdown>
    </div>
    <div class="field">
      <label class="" for="working_hours">Working Hours</label>
      <input type="text" id="working_hours" formControlName="workingHours" pInputText>
    </div>
    <div class="field">
      <label class="" for="og_size">Organization Size</label>
      <input type="text" id="og_size" formControlName="organizationSize" pInputText>
    </div>
    <div *appShellAsideView class="tw-sticky tw-mt-auto tw-bottom-0 tw-w-full tw-px-10 tw-py-3 tw-flex tw-items-center tw-justify-end" style="background-color: var(--surface-card);">
      <button [loading]="!!(userService.updatingProfile$ | async)" [disabled]="userType === 'individual' ? profileForm.invalid : profileOrganizationForm.invalid" pButton label="Save" style="max-width: 8rem" (click)="updateProfile()"></button>
    </div>
  </form>
</div>

<ng-template #loading>
  <div class="tw-mb-8 tw-flex tw-flex-row tw-justify-start tw-items-center">
    <p-skeleton shape="circle" size="5rem"></p-skeleton>
    <p-skeleton width="10rem" styleClass="ml-3"></p-skeleton>
  </div>
  <form class="p-fluid" [formGroup]="profileForm">
    <div class="field">
      <p-skeleton width="100%"></p-skeleton>
    </div>
    <div class="field">
      <p-skeleton width="100%"></p-skeleton>
    </div>
    <div class="field">
      <p-skeleton width="100%"></p-skeleton>
    </div>
    <div class="field">
      <p-skeleton width="100%" height="150px"></p-skeleton>
    </div>
    <div class="field">
      <p-skeleton width="100%" height="150px"></p-skeleton>
    </div>
  </form>
</ng-template>