<div class="tw-flex tw-h-full tw-flex-no-wrap tw-overflow-hidden">
  <app-side-bar></app-side-bar>
  <div class="tw-w-full tw-flex tw-flex-col tw-mx-auto tw-pt-10 tw-h-full">
    <h1 class="tw-font-bold tw-text-3xl tw-mx-10 tw-mb-10">Settings</h1>
    <div class="tw-rounded-md grid tw-mx-10 tw-p-5 tw-mt-0 tw-mb-10 tw-overflow-y-hidden shadow-5" style="background-color: var(--surface-card);">
      <div class="col-12 lg:col-3">
        <div class="tw-flex tw-flex-row tw-items-center tw-justify-center lg:tw-justify-start lg:tw-items-start lg:tw-flex-col">
          <a routerLinkActive="active-link tw-rounded-md tw-font-medium" class="sub-link tw-m-4 tw-p-2 tw-w-2/3 tw-text-center lg:tw-text-left" routerLink="./basic">Basic Information</a>
          <a routerLinkActive="active-link tw-rounded-md tw-font-medium" class="sub-link tw-m-4 tw-p-2 tw-w-2/3 tw-text-center lg:tw-text-left" routerLink="./kyc">KYC Verification</a>
        </div>
      </div>
      <div class="col-12 lg:col-9 tw-h-[calc(100%_-_80px)] lg:tw-h-full tw-overflow-y-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
    <ng-template adHost></ng-template>
  </div>
</div>