<div *ngIf="categories$ | async as categories; else loading">
  <div class="grid">
    <div class="col-6 tw-cursor-pointer tw-p-3">
      <div class="tw-rounded-lg shadow-2 tw-p-3 tw-h-full tw-flex tw-items-center tw-justify-center" (click)="newCategory()">
        <i class="pi pi-plus tw-mr-3"></i>
        <p>New Category</p>
      </div>
      
    </div>
    <div class="col-6 tw-cursor-pointer tw-p-3" *ngFor="let cat of categories">
      <div class="shadow-2 tw-h-full tw-flex tw-flex-col tw-border-2 tw-rounded-lg hover:tw-bg-gray-300" (click)="onSelect(cat.id)">
        <img class="tw-h-auto tw-w-full tw-rounded-t-lg" alt="{{cat.title}}" src="{{cat.media}}">
        <div class="w-w-full tw-my-4 tw-px-4">
          <p class="tw-font-bold">{{cat.title}}</p>
          <p>{{cat.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <p>Please wait...</p>
</ng-template>
