<div *ngIf="recipes$ | async as recipes" class="card">
  <p-dataView #dv [value]="recipes" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
    <ng-template let-recipe pTemplate="listItem">
      <div class="col-12 md:col-3">
        <div class="card">
          {{recipe.title}}
        </div>
      </div>
    </ng-template>
    <ng-template let-recipe pTemplate="gridItem">
      <div class="col-12 md:col-3">
        <div class="card">
          {{recipe.title}}
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
